.ConfirmEmailModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.ConfirmEmailModal_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConfirmEmailModal__container {
    padding: 25px;
    background-color: var(--color-black);
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 340px;
}

.ConfirmEmailModal__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-gray);
    padding-bottom: 10px;
    width: 100%;
}

.ConfirmEmailModal__close {
    font-size: 22px !important;
    padding: 8px;
    border-radius: 20px;
    margin-right: 10px;
}

.ConfirmEmailModal__close:hover {
    transition: 300ms ease;
    background-color: var(--color-gray);
    cursor: pointer;
}

.ConfirmEmailModal__title {
    font-size: 18px;
    margin: 0;
    font-family: 'ChirpMedium';
    font-weight: normal;
}

.ConfirmEmailModal__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 360px;
    align-items: center;
}

.ConfirmEmailModal__text {
    font-family: 'Chirp';
    margin-top: 20px;
    color: var(--color-white-gray);
}

.ConfirmEmailModal__form {
    display: flex;
    flex-direction: column;
}

.ConfirmEmailModal__input {
    width: 350px;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--color-border-gray);
    background-color: var(--color-gray);
    margin-top: 20px;
    font-size: 16px;
    color: white;
    height: 35px;
    padding-left: 10px;
}

.ConfirmEmailModal__input:focus {
    border-bottom-color: var(--color-blue);
    background-color: var(--color-gray);
    transition: border 500ms ease;
}

.ConfirmEmailModal__sign-up-button {
    background-color: var(--color-blue) !important;
    border: none !important;
    color: var(--color-white) !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    height:40px !important;
    font-size: 16px !important;
    width: 80% !important;
    font-size: 16px !important;
    font-family: 'ChirpMedium' !important;
}

.ConfirmEmailModal__error-message {
    font-size: 15px;
    margin-top: 10px;
    width: 410px;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    word-wrap: break-word;
}